@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Sarala', sans-serif;
    background-color: #2F2E41;
    color: #fff;
}

header.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background-color: #6172F3;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    position: fixed;
}

.cabecalho-titulo {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-weight: 70;
    font-size: 24px;
    text-decoration: none;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.cabecalho-item-menu {
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-item-menu:hover {
    text-decoration: none;
}

main.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding-top: 100px;
    background-color: #2F2E41;
}

.form-section {
    background-color: #2F2E41;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-description {
    text-align: center;
    color: #FFF2E7;
    font-size: 23px;
    margin-bottom: 20px;
}

.form-header {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-left {
    flex: 1;
    margin-right: 100px;
}

.form-right {
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FFF2E7;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(128, 152, 249, 0.7);
    border-radius: 10px;
    background-color: #ffffff;
    color: #000;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #666;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #6172F3;
    box-shadow: 0 0 0 4px rgba(97, 114, 243, 0.3);
}

textarea {
    height: 150px;
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #6172F3;
    border-radius: 4px;
    width: 5px;
    height: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    vertical-align: middle;
    z-index: 1;
}

.checkbox-group input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #6172F3;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    color: #FFF2E7;
    font-size: 16px;
}

.links-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group .submit-link {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgba(128, 152, 249, 0.7);
    border-radius: 10px;
    background-color: #ffffff;
    color: #000;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group .submit-link::placeholder {
    color: #666;
}

.form-group .submit-link:focus {
    border-color: #6172F3;
    box-shadow: 0 0 0 4px rgba(97, 114, 243, 0.3);
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: #FFF2E7;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    appearance: none;
    background-color: #fff;
    border: 1px solid #6172F3;
    border-radius: 50%;
    width: 5px; /* Bola menor */
    height: 5px; /* Bola menor */
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.radio-group input[type="radio"]:checked {
    background-color: #6172F3;
}


.buscar-btn {
    background-color: #8098F9;
    color: white;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 13px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.buscar-btn:hover {
    border-color: #6172F3;
    box-shadow: 0 0 0 4px rgba(97, 114, 243, 0.3);
}

.submit-btn {
    background-color: #8098F9;
    color: white;
    margin: 0 auto;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 13px;
    cursor: pointer;
    width: 30%;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
}

.submit-btn:hover {
    border-color: #6172F3;
    box-shadow: 0 0 0 4px rgba(97, 114, 243, 0.3);
}

@media (max-width: 768px) {
    main.conteudo{
        margin-top: 100px;
    }
    header.cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto;
    }

    .cabecalho-titulo {
        margin-bottom: 20px;
    }

    .cabecalho-menu {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .cabecalho-item-menu {
        font-size: 16px;
    }

    .form-header {
        flex-direction: column;
        gap: 30px;
    }

    .form-left {
        margin-right: 0;
    }

    .form-right {
        margin: 0;
    }

    .buscar-btn,
    .submit-btn {
        width: 100%;
        max-width: 200px;
        align-self: center;
    }
}

@media (max-width: 480px) {
    .form-section {
        padding: 20px;
    }

    .form-section h2 {
        font-size: 18px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
    }

    .buscar-btn,
    .submit-btn {
        padding: 10px 16px;
    }
}
